boto3==1.37.34
botocore==1.37.34
chardet==5.2.0
et_xmlfile==2.0.0
jmespath==1.0.1
numpy==2.2.4
openpyxl==3.1.5
pandas==2.2.3
pdfkit==1.0.0
pillow==11.2.1
pycups==2.0.4
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.1.0
s3transfer==0.11.4
six==1.17.0
tzdata==2025.2
urllib3==2.4.0
watchdog==6.0.0
